<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="
{% static 'css/bb-style.css' %}
">
    <link rel="shortcut icon" href="
{% static 'favicon.ico' %}
">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <title>{% block title %}BoxBusiness{% endblock %}</title>
</head>
<body>
    {% include 'nav.html' %}
    <main>
        {% block content %}replace me{% endblock %}
    </main>
    {% include 'footer.html' %}
</body>
</html>
