@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

:root {
	--bb-green: #48a94d;
	--bb-yellow: #ffca00;
	--bb-red: #e23711;
}

body, main {
	margin: 0;
	padding: 0;
	background-color: var(--bb-green);
	ḿin-height: 100vh;
}
body, input, a, p {
	font-family: 'Karla', sans-serif;
	font-size: 16px;
	color: black;
}
a {
	color: var(--bb-yellow);
}
a:hover {
	color: white;
}
.ćenter-wrapper {
    display: block;
    text-align: center;
    margin: auto;
}
.p-4, input {
	padding: .4rem;
}
.p-16 {
	padding: 1.6rem;
}
input {
	border: none;
	outline: none;
	background-color: white;
	border-left: .2rem solid var(--bb-yellow);
	box-shadow: .04rem .04rem black;
}
input[type="submit"] {
	cursor: pointer;
	padding: .4rem 2rem .4rem 2rem;
	background-color: var(--bb-yellow);
}
footer {
	position: relative;
	top: 100vh;
	text-align: center;
	padding: .6rem;
}
.navbar {
	margin: 0;
	background-color: black;
	color: white;
	padding: .6rem;
	margin-bottom: 1.8rem;
}
.red {
	color: var(--bb-red);
}
.sep {
	margin-left: .8rem;
	margin-right: .8rem;
}
.light-table {
	background-color: white;
	border-left: .8rem solid var(--bb-yellow);
	box-shadow: .04rem .04rem black;
}