{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
	<div class="center-wrapper">
		<h3>LOGIN</h3>
		<form method="POST">
			{% csrf_token %}
			<input type="text" name="username" placeholder="Username">
			<input type="password" name="password" placeholder="Password">
			<input type="submit" value="Login">
		</form>
		{% for message in messages %}
			<p>{{ message }}</p>
		{% endfor %}			
		<p>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
		<p>Forgot password? <a href="{% url 'password_reset' %}">Reset password</a></p>
	</div>
{% endblock %}