{% extends 'base.html' %}
{% block title %}Users{% endblock %}
{% block content %}
<!-- https://material.io/components/data-tables/web#style-customization -->
<div class="p-16">
  <h1>Users</h1>
    <table class="light-table p-16">
      <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>User since</th>
      </tr>
    	{% for user in users %}
      <tr>
        <th>{{ user.id }}</th>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.date_joined|date:"M d, Y" }}</td>
      </tr>
      {% endfor %}
    </table>
</div>
{% endblock %}